img {
    width: 300px; height: 200px;
}
table {
    width: 100%;
    border: 5px solid black;
    border-collapse: collapse;
    border-style: groove;
}
thead {
    background-color:aquamarine;
    font-size:x-large;
}
tbody {
    text-align: center;
    font-size: 20px;
    background-color: bisque;
}
th {
    border: 5px solid deeppink;
}
td {
    border: 2px solid green;
    border-style: dashed;
}
